<table class="table stripped">
	<thead>
		<tr>
			<td>Date</td>
			<td>Entity</td>
			<td>Value</td>
		</tr>
	</thead>
	<tbody>
		
		<% _.each(trackedValues, function (valueItem) {  %>
		<tr>
			<td><%= valueItem.get('date') %></td>
			<td><%= valueItem.get('name') %></td>
			<td><%= valueItem.get('value') %></td>
		</tr>
		<% }); %>

	</tbody>
</table>