<form role="form" class="text-right">
  <fieldset>
    <legend>Tracking</legend>
    <div class="form-group row">
      <label for="trackableEntity">
        Trackable entity
      </label>
      <select id="trackableEntity" class="form-control">

        <% _.each(entitiesList, function (entity) { %>
        <option>
          <%= entity.get('name') %>
        </option>
        <% }); %>

      </select>
    </div>

    <div class="form-group row">
      <label for="recordDate">
        Record date
      </label>
      <div class="input-group date">
        <input id="recordDate" type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      </div>
    </div>

    <div class="form-group row">
      <label for="recordValue">
        Value (should be number)
      </label>
      <input id="recordValue" type="number" class="form-control" placeholder="value">
    </div>

    <div class="form-group row">
      <button type="button" id="valueSubmit" class="btn btn-info">Add item</button>
    </div>
  </fieldset>
</form>
<hr>