    <div class="container">
        <h1>A simple tracker app just for fun...</h1>  
        <hr>
        <div id="editor" class="col-md-2">
            <!-- Tracking item chooser -->
           
            

        </div>
        <div id="monitor" class="col-md-10">
            charting here
        </div>
    </div>